//- extends layout

//- block content
//-   h1= title
//-   p Welcome to #{title}
//-   p 
  a(href='/login') Login 
doctype html
html
  head
    title VitalSync
    link(rel="stylesheet", href="/css/index.css")
    script(src="/js/index.js", defer)
  body
    //- h1 VitalSync
    img#vsPurple(src='/images/vsPurple.png', alt='vsPurple')
    img#vsRed(src='/images/vsRed.png', alt='vsRed')
    img#runner(src='/images/runner.png', alt='Running Man')
    a(href='/login') Login
    
    //change 