@keyframes fadeRight {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes moveRunner {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(100vw);
        /* Move to the right outside the screen */
    }
}

/* Image styles */
#vsPurple {
    display: block;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 250px;
    animation: fadeDown 0.7s ease-out forwards;
}

#vsRed {
    display: block;
    position: relative;
    top: 250px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    animation: fadeUp 0.7s ease-out forwards;
}

#runner {
    display: block;
    position: relative;
    left: 250px;
    top: -20px;
    animation: fadeRight 0.9s ease-in forwards;
}

#runner.running {
    animation: moveRunner 3s linear forwards;
    /* Adjust to make it move continuously */
}